<div id="divLoading" style="display:none">
    <div class="modal fade show" tabindex="-1" role="dialog" style="display: block; z-index: 1550 !important" aria-modal="true" role="dialog" >
            <div class="modal-dialog modal-dialog-centered" style="justify-content:center" role="document">
            <div class="text-center">
                <img src="~/assets/Spin-1.1s-200px.svg" />
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show" style="z-index:1500" id="fundoLoading"></div>
</div>